@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}


*, *:before, *:after {
	box-sizing: inherit;
}

html, body {
  background-color: $purple;
  height: 100%;
  overflow: hidden;
  text-align: center;
}

.text-top {
  color: $white;
  font-family: 'Dancing Script', cursive;
  font-size: 85px;
  line-height: 53px;
  position: relative;
  top: 260px;
}

a {
  text-decoration: none;
  .text {
    color: $white;
    font-family: 'Roboto', sans-serif;
    font-size: 800;
    font-size: 22px;
    letter-spacing: 8px;
    line-height: 32px;
    position: relative;
    top: -111px;
    text-transform: uppercase;
    text-decoration: none;
  }
}

.svg-wrapper {
  height: 60px;
  margin: 0 auto;
  position: relative;
  top: 42%;
  transform: translateY(-50%);
  width: 320px;
  fill: transparent;
  &:hover .shape{
    -webkit-animation: 0.5s draw linear forwards;
    animation: 0.5s draw linear forwards;
  }
}

.shape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 4px;
  stroke: $orange;
  fill: transparent;
}


@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 4px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 4px;
  }
}
